<a href="https://colab.research.google.com/github/safwankkmohammed/python/blob/main/pythonclass1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
a=5

In [ ]:
print(a)

5

In [ ]:
print(type(a))

<class 'int'>

In [ ]:
b=1.2

In [ ]:
print(type(b))

<class 'float'>

In [ ]:
c="safwan"

In [ ]:
print(c)

safwan

In [ ]:
print(type(c))

<class 'str'>

In [ ]:
d=False

In [ ]:
print(type(d))

<class 'bool'>

In [ ]:
e=["123","safwan","adarsh","9744861269","12.23","True"]

In [ ]:
print(e)

['123', 'safwan', 'adarsh', '9744861269', '12.23', 'True']

In [ ]:
print(type(e))

<class 'list'>

In [ ]:
f=("123","safwan","adarsh","9744861269","12.23","True")

In [ ]:
print(f)

('123', 'safwan', 'adarsh', '9744861269', '12.23', 'True')

In [ ]:
print(type(f))

<class 'tuple'>

In [ ]:
g={"123","safwan","adarsh","9744861269","12.23","True"}
print(g)
print(type(g))

{'12.23', 'adarsh', '9744861269', 'safwan', '123', 'True'}
<class 'set'>

In [ ]:
frozenset(g)

frozenset({'12.23', '123', '9744861269', 'True', 'adarsh', 'safwan'})

In [ ]:
print(type(g))

<class 'set'>

In [ ]:
di={1:"safwan",2:"adarsh",3:"9744861269"}

In [ ]:
type(di)
di

{1: 'safwan', 2: 'adarsh', 3: '9744861269'}

In [ ]:
type(di)

dict

In [ ]:
print(di[2])

adarsh

In [ ]:
print(type(di))
print(di[3])

<class 'dict'>
9744861269

In [ ]:
# Sample Tuple
my_tuple = (10, 20, 10, 30, 10, 40, 'apple', 'banana', 'cherry', 'banana', 50)

# 1. len() - Get the length of the tuple
print("Length of the tuple:", len(my_tuple))

# 2. count() - Count occurrences of a value
print("Count of 10:", my_tuple.count(10))
print("Count of 'banana':", my_tuple.count('banana'))
print("Count of 100 (not in tuple):", my_tuple.count(100))

# 3. index() - Find the index of a value (first occurrence)
print("Index of 30:", my_tuple.index(30))
print("Index of 'cherry':", my_tuple.index('cherry'))

# Using index with start and end arguments (optional)
# print("Index of 'banana' starting from index 8:", my_tuple.index('banana', 8)) # Uncomment to see the result

# 4. sorted() - Create a new sorted list from the tuple
# Note: This requires all elements to be of comparable types
numeric_tuple = (5, 2, 8, 1, 9)
sorted_list = sorted(numeric_tuple)
print("Sorted list from numeric tuple:", sorted_list)

# 5. min() - Get the minimum value (requires comparable types)
print("Minimum value in numeric tuple:", min(numeric_tuple))

# 6. max() - Get the maximum value (requires comparable types)
print("Maximum value in numeric tuple:", max(numeric_tuple))

# 7. sum() - Get the sum of values (requires numeric types)
print("Sum of values in numeric tuple:", sum(numeric_tuple))

# 8. tuple() - Convert an iterable to a tuple
my_list = [1, 2, 3]
new_tuple = tuple(my_list)
print("Tuple created from a list:", new_tuple)

my_string = "hello"
tuple_from_string = tuple(my_string)
print("Tuple created from a string:", tuple_from_string)

Length of the tuple: 11
Count of 10: 3
Count of 'banana': 2
Count of 100 (not in tuple): 0
Index of 30: 3
Index of 'cherry': 8
Sorted list from numeric tuple: [1, 2, 5, 8, 9]
Minimum value in numeric tuple: 1
Maximum value in numeric tuple: 9
Sum of values in numeric tuple: 25
Tuple created from a list: (1, 2, 3)
Tuple created from a string: ('h', 'e', 'l', 'l', 'o')

In [ ]:
Explaining the Tuple Code

This section of the code focuses on demonstrating various operations and functions that can be used with tuples in Python. Tuples are similar to lists, but they are immutable, meaning their elements cannot be changed after creation.

First, a sample tuple named my_tuple is created containing a mix of integer and string elements.

my_tuple = (10, 20, 10, 30, 10, 40, 'apple', 'banana', 'cherry', 'banana', 50)

Use code with caution

The code then proceeds to show several common operations:
1. Getting the Length of a Tuple

The len() function is used to determine the number of elements in a tuple.

print("Length of the tuple:", len(my_tuple))

Use code with caution
2. Counting Element Occurrences

The .count() method is used to find out how many times a specific value appears within the tuple.

print("Count of 10:", my_tuple.count(10))
print("Count of 'banana':", my_tuple.count('banana'))
print("Count of 100 (not in tuple):", my_tuple.count(100))

Use code with caution

The third print statement shows that if the element is not present, .count() returns 0.
3. Finding the Index of an Element

The .index() method is used to find the index (position) of the first occurrence of a given value in the tuple.

print("Index of 30:", my_tuple.index(30))
print("Index of 'cherry':", my_tuple.index('cherry'))

Use code with caution

There's a commented-out line that shows you can optionally provide a starting index to search from.
4. Creating a Sorted List from a Tuple

The sorted() function takes an iterable (like a tuple) as input and returns a new list with the elements sorted. This function requires all elements in the tuple to be of comparable types (e.g., all numbers or all strings). A separate numeric_tuple is created for this example.

numeric_tuple = (5, 2, 8, 1, 9)
sorted_list = sorted(numeric_tuple)
print("Sorted list from numeric tuple:", sorted_list)

Use code with caution
5. Finding the Minimum Value

The min() function returns the smallest element in a tuple. Like sorted(), this requires comparable types.

print("Minimum value in numeric tuple:", min(numeric_tuple))

Use code with caution
6. Finding the Maximum Value

The max() function returns the largest element in a tuple. This also requires comparable types.

print("Maximum value in numeric tuple:", max(numeric_tuple))

Use code with caution
7. Calculating the Sum of Values

The sum() function calculates the sum of all elements in a tuple. This function only works with numeric types.

print("Sum of values in numeric tuple:", sum(numeric_tuple))

Use code with caution
8. Converting to a Tuple

The tuple() constructor can be used to convert other iterable objects (like lists or strings) into tuples.

my_list = [1, 2, 3]
new_tuple = tuple(my_list)
print("Tuple created from a list:", new_tuple)

my_string = "hello"
tuple_from_string = tuple(my_string)
print("Tuple created from a string:", tuple_from_string)

Use code with caution

This demonstrates the flexibility of creating tuples from different data structures.